
@{
    ViewBag.Title = "Quản Lý Mượn Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  LibraryWeb.Models.order
@*@model  LibraryWeb.Models.detail_order*@


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách Đơn Mượn</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br>
                <div class="pull-right">
                    <button class="btn btn-success" onclick="addOrder()"><span><i class="fa fa-plus"></i></span> Mươn sách</button>
                </div>

                <table id="viewAuthorDT" class="table table-bordered">
                    <thead>
                    <th class="text-center w-10">@Html.DisplayNameFor(model => model.order_id)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.user_id)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.order_from)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.order_to)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.order_deposit)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.order_pay)</th>
                    <th class="text-center"></th>
                    </thead>
                    <tbody>
                        @Html.Partial("Data")
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<input type="hidden" disabled id="bookJson" value="@ViewBag.bookJson" />
<input type="hidden" disabled id="userJson" value="@ViewBag.userJson" />


@*Modal thêm sửa Đơn hàng*@
@Html.Partial("Store")

@section Scripts
{
    <script>
        $(document).ready(function () {
            let today = moment().format('YYYY-MM-DD');
            $('input[name="orderFrom"]').val(today);
        });
        
    </script>
    <script>
        (function () {
            const autocompleteData = JSON.parse($('#bookJson').val());
            var dataSelected = [];
            var rentTotal = 0;

            $('#autocomplete').autocomplete({
                lookup: autocompleteData,
                onSelect: function (suggestion) {
                    $(this).val("");

                    if (!dataSelected.includes(suggestion.data))
                    {
                        dataSelected.push(suggestion.data);
                        let html = `<tr>
                                  <td>${suggestion.data}
                                    <input class="orderBookId" type="hidden" name="orderBookId[]" value="${suggestion.data}"></td>
                                  <td>${suggestion.value}</td>
                                  <td>${suggestion.book_author}</td>  
                                  <td><input type="number" class="form-control w-50" 
                                        onkeyup="caclRentBook(this); caclRentOrder()" name="orderBookQty[]" value="1"></td>
                                  <td class="book_rent_text">${suggestion.book_deposit}</td>
                                  <td style="display: none"><input class="book_rent_input" type="hidden" value="${suggestion.book_deposit}"></td>
                                  <td style="display: none"><input class="book_rent_total" type="hidden" value="0"></td>
                                </tr>`;
                        rentTotal -= -suggestion.book_deposit;
                        $('input[name="orderForeit"]').val(rentTotal);

                        $("#tableBook tbody").append(html);
                    }

                }
            });

        })();

        function caclRentBook(item)
        {
            let qty = $(item).val();
            let rent = $(item).parent().parent().find('.book_rent_input').val();
            if (qty == "") qty = 0;
            $(item).parent().parent().find('.book_rent_text').text(qty * rent)
            $(item).parent().parent().find('.book_rent_total').val(qty * rent)

            return qty * rent;
        }

        function caclRentOrder()
        {
            const dom = $('.book_rent_total');
            var total = 0;


            if (dom.length != 0)
            {
                for (i = 0; i < dom.length; i++) {
                    total -= -dom[i].value;
                }
            }

            $('input[name="orderForeit"]').val(total);
            return total;
        }


       //---------------------------------------------------------------------------------

        (function () {
            const autocompleteData = JSON.parse( $('#userJson').val() );

            $('#autocomplete2').autocomplete({
                lookup: autocompleteData,
                onSelect: function (suggestion) {
                    $('input[name="orderUserId"]').val(suggestion.data)
                    $('input[name="orderUserPhone"]').val(suggestion.user_phone)
                    $('input[name="orderUserAddr"]').val(suggestion.user_addr)
                }
            });

        })();



    </script>

    <script>
        function addOrder() {
            $('#modalOrder').modal('show');
        }

        function ViewDetailOrder(id) {
            $('#detailOrder-' + id).toggle('slow');
        }

        function getDataBookOfOrder()
        {
            let data = [];

            const dom = $('input[name="orderBookId[]"]');
            const domQty = $('input[name="orderBookQty[]"]');

            for (i = 0; i < dom.length; i++)
            {
                let qty = $(domQty[i]).val();
                if (qty == "") qty = 0;
                data.push({ "id": $(dom[i]).val(), "qty": qty });
            }
            return data;
        }
        function PostDataOrder()
        {
            $.ajax({
                url: 'Order/Store',
                type: 'POST',
                data: {
                    Books: JSON.stringify( getDataBookOfOrder() ),
                    orderUserPhone: $('input[name="orderUserPhone"]').val(),
                    orderUserName: $('input[name="orderUserName"]').val(),
                    orderUserAddr: $('input[name="orderUserAddr"]').val(),

                    orderFrom: $('input[name="orderFrom"]').val(),
                    orderTo: $('input[name="orderTo"]').val(),
                },
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    /* Act on the event */
                }
            })  
        }
        function getOrderForEdit(id) {

            $.ajax({
                url: '',
                type: 'POST',
                data: { orderId: id },
                success: function (data) {
                    //$('#modalAuthor').modal('show');
                    //$('#modalAuthor input[name = "authorName"]').val(data['author_name']);
                    //console.log(data);
                },
                error: function () {
                    /* Act on the event */
                }
            })
        }

    </script>
}

